# Keep alphabetized and synchronized with /setup.py and /README.md:
keras >= 2.1
numpy >= 1.10
pandas >= 0.23.0
pwkit >= 0.8.19
pytoml >= 0.1.0
six >= 1.10

# But we also need more stuff for Keras to import on the RTD environment. We
# specify an old version of tensorflow because newer ones cause a SIGILL on
# import: https://github.com/rtfd/readthedocs.org/issues/3738 .
tensorflow == 1.4.0
